rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    // Deny by default until app-specific rules are defined.
    match /{allPaths=**} {
      allow read, write: if false;
    }
  }
}